Flask==2.3.5
requests==2.32.4
viberbot==1.0.6
google-api-python-client==2.99.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
easyocr==1.6.2
torch==2.2.0+cpu
torchvision==0.18.1+cpu
torchaudio==2.2.0+cpu

git+https://github.com/Viber/viber-bot-python.git#egg=viberbot
